body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    height: 80px;
}

header h1 {
    margin: 10px 0;
    font-size: 28px;
}

header h2 {
    margin: 0;
    font-size: 18px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}

.form-container {
    margin: 10 10px;
    margin-left: 110px;
}

.form-container h2 {
    margin: 0;
    font-size: 22px;
 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

input[type="file"],
input[type="text"] {
    margin-bottom: 10px;
    padding: 5%;
    width: 300px;
 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
   
}

.result-container {
    text-align: center;
}

.result-container h3 {
    margin: 0;
    font-size: 20px;
}

.result-container p {
    margin: 0;
    font-size: 18px;
    color: #999;
}

.chatContainer {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 350px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.bot-intro {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.bot-intro p {
    margin: 0;
}

.consult-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100px;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.paraaa {
    margin-top: 60px;
    margin-left: 390px;
}

/* Added styles for open camera button and capture text */
#openCameraButton {
    background-color: #FF5733; /* Adjust the color as needed */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 130px;
    margin-bottom:530px
}

#captureText {
    margin-top: -10px;
 
    font-size: 15px;
    margin-left: 130px;
    
}
.blaa{
    margin-left: 20px;
}
.blaa2{
    
   
}
.download-container {
    display: flex;
    justify-content: center;
    margin-top: -38px;
}

.download-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.skinn{
    margin-left: 120px;
    margin-top:100px;
}
.skinn2{
    margin-left: 125px;
    margin-top:-35px;
}
.skinn3{
    margin-left: 555px;
    margin-top:-105px;
}
.mapouter {
    position: relative;
    text-align: right;
    width: 600px;
    height: 400px;
}
.gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 600px;
    height: 400px;
}
.gmap_iframe {
    width: 600px!important;
    height: 400px!important;
}
.mappp{
    margin-top: 300px;
    margin-left: 30%;
}


